div.divs{

    border: solid;
    border-radius: 3px;
    color: rgb(165, 165, 165);
}

div#div1{

    background-color: rgb(37, 37, 120);;
}

div#subdiv1{

    background-color: rgb(20, 20, 109);
    padding: 5px;
}

div#div2{

    background-color: rgb(133, 133, 35);
}

div#subdiv2{

    background-color: rgb(137, 137, 50);
    padding: 5px;
}