body{
    text-align: center;
 
    color: white;
    background-size: cover;

    
}


h1::after{

        text-shadow: 6px,6px,6px black;

}

@media (max-width: 1025px){

    body{

        background-size: 1024px  689px;
    }
}


@media (max-width:769px){

    body{
        background-size: 768px 689px;
    }
}



@media (max-width:426px) {
    
    body{

        background-size: 425px  689px;
    }
    h6#myh1 {
        font-size: 2em !important; 
        margin-right: 200px;
    }
}


@media (max-width: 376px) {
    body {
        background-size: 375px 689px;
    }

    h6#myh1 {
        font-size: 2em !important; 
        margin-right: 100px;
    }
    .main-nav{

        font-size: 1px !important;
        
    }
    #myimg{

        size: 1px;
    }
}


@media (max-width: 321px) {
    body {
        background-size: 320px 689px;
    }
    ul.main-nav {
        font-size: 0.8em; 
    }
    .header {
        font-size: 1em; 
    }
    h6#myh1 {
        font-size: 1em;
    }
}
